
.bronze {
  background-color: brown;
  color: white;
}

.silver {
  background-color: silver;
}

.gold {
  background-color: gold;
}

.heading {
  padding: 0.1em;
}

.achievement {
  display: none;
}

.last-game {
  border-color: green;
  border-width: 0.4em;
  border-style: solid;
}

.section-heading {
  background-color: black;
  color: white;
}

/* as they are the same kind of elements, group them */
.achievement, .section-heading {
  /* top right bottom left */
  padding: 1em;
  margin: 0.2em;
  border-radius: 0.5em;
}

.described {
  display: block;
}

.description {
  text-decoration: none;
}

.described {
  display: block;
}

.described .description {
}

.achievement .text {
  display: block;
}

.achievement.next .text {
  display: none;
}

.achievement.next, .achievement.achieved, .section-heading {
  display: inline-block;
}

.mode-twins, .mode-squares, .achievement.next.mode-twins, .achievement.next.mode-squares {
  display: none;
}

.achievement.next {
  background-color: gray;
  color: white;
}

