.achievements {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 3px;
  color: gray;
}

.achievement {
  display: block;
  padding: 0.1em;
}

.error {
  color: darkred;
}

.tutorial {
  color: darkgreen;
}

.bronze {
  color: brown;
}

.silver {
  color: silver;
}

.gold {
  color: gold;
  font-size: 1.5em;
}

.error, .test, .tutorial, .bronze, .silver, .gold, .achievement-points {
  display: inline;
}

.achievement-points {
  margin-left: 0.2em;
  color: gray;
}

#game {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#menu {
  text-align: center;
  padding: 1em;
}

.entry {
  display: block;
  padding: 0.6em;
  font-size: 2em;
  color: white;
  background-color: black;
  border-radius: 0.6em;
  text-decoration: none;
  margin-bottom: 1em;
}

.bar {
  position: absolute;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background-color: black;
  bottom: 0px;
}

.ball {
  position: absolute;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-radius: 100%;
}

.block, .item {
  position: absolute;
  background-color: black;
  border-radius: 0.5em;
  color: white;
  font-size: 100%;
  text-align: center;
}

.item.primeTwin, .block.primeTwin {
  color: black;
  background-color: gold;
}

.item.squareEffectStop, .block.squareEffectStop {
  color: black;
  background-color: lightgreen;
}


.item {
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.hidden {
  display: none;
}


/* Remove selection from elements.
 * see https://stackoverflow.com/a/9314458
 */
.noselect, .button, .block, .points, .item, .entry, .text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.points {
  position: absolute;
  top: 60%;
  text-align: center;
  width: 100%;
}

.points .text {
  display: inline-block;
  font-size: 3em;
  color: gray;
  /* for achievements */
  background-color: white;
  padding: 0em 0.1em 0em 0.1em;
}

.points .text.positive {
  color: #66ff66;
}

.points .text.negative {
  color: #ff6666;
}
