
#highscore-sources-list li span {
  padding-right: 0.2em;
}

.heading {
  font-size: 2em;
}

.last-game, .last-game.odd, .last-game.equal-game {
  background-color: green;
  color: white;
}

.equal-game, .equal-game.odd {
  background-color: green;
  color: white;
}

.odd {
  background-color: #dddddd;
}

td {
  padding: 0.2em;
}

.checkbox.active .active, .checkbox .inactive {
  display: inline;
}
.checkbox.active .inactive, .checkbox .active {
  display: none;
}
.checkbox {
  text-decoration: none;
}

.button {
  border-radius: 0.2em;
  background-color: black;
  color: white;
  padding: 0.2em;
}

.hidden {
  display: none;
}