
.back {
  float: left;
  color: white;
  text-decoration: none;
  padding-left: 0.2em;
}

.settings {
  float: right;
  padding-right: 0.2em;
  color: white;
  text-decoration: none;
}

h1 {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0px;
}

html, body {
  padding: 0px;
  margin: 0px;
}

p {
  padding-left: 1em;
  padding-right: 1em;
}
